<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <h1><%= headerTitle %></h1>
    <a href="/">Home</a>
    <a href="/students">Students</a>
    <% data.map ((student, index) => {%>
    <div>
      <hr />
      Student Name: <%= student.name %> <br />
      Student Email: <%= student.email %> <br />
      Student Company: <%= student.company.name %> <br />
    </div>
    <% }) %>
  </body>
</html>
